<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <!--    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>-->
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Roboto">
    <script src="https://kit.fontawesome.com/a16159fadf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-spring fixed-top" th:fragment="nav">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">
                        <i class="fas fa-home" aria-hidden="true"></i> Home
                    </a>
                </li>

                <!-- if user is signed in -->
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/links/submit}">
                        <i class="fa fa-link" aria-hidden="true"></i> Submit Link</a>
                </li>
                <li class="nav-item">
                    <form method="POST" th:action="@{/logout}" sec:authorize="isAuthenticated()">
                        <button class="nav-link"><i class="fa fa-sign-out-alt" aria-hidden="true"></i> Sign Out</button>
                    </form>
                </li>

                <!-- if user is not signed in -->
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">
                        <i class="fa fa-sign-in-alt" aria-hidden="true"></i> Sign In</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/register}">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid" th:fragment="jumbotron">
    <div class="container" align="center">
        <h2 class="display-4">Little Reddit</h2>
        <p class="lead">This is a training project, clone of Reddit website. Spring Boot, Spring Security,
        Thymeleaf and Bootstrap were use to build it. </p>
        <a href="https://github.com/uncleglass/little-reddit" class="btn btn-success" target="_blank"><i
                class="fab fa-github"></i> Github Repo</a>
    </div>
</div>


</body>
</html>
