<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head}">
</head>

<body>
<div class="container">
    <div class="row" th:each="link : ${linkList}">
        <div class="col-1">
            <div><a href="#" class="upvote"><i class="fas fa-arrow-up"></i></a></div>
            <div><span class="votecount">3</span></div>
            <div><a href="#" class="downvote"><i class="fas fa-arrow-down"></i></a></div>
        </div>
        <div class="col-11">
            <p >submitted
                <time th:text="${link.getPrettyTime()}">2 hours ago</time> by
                <a>uncleglass</a>
            </p>
            <p>
                <a th:href="@{'/links/' + ${link.id}}" th:text="${link.title}"> </a>
            </p>
            <p>
                <i class="fas fa-comment-alt"></i>
                <a th:text="|${link.getComments().size()} comments|"></a>
            </p>
        </div>
    </div>


</div>


</body>
</html>
