<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/fragments :: head}">
</head>

<body>
<nav th:replace="~{fragments/fragments :: nav}"></nav>
<div th:replace="~{fragments/fragments :: jumbotron}"></div>
<div class="container">

    <div class="alert alert-success" role="alert" th:if="${success}">
        Your new link was created!
    </div>

    <!-- link -->
    <div class="row link">
        <div class="col-1">
            <div><a href="#" class="upvote" th:data-id="${link.id}"><i class="fas fa-arrow-up"></i></a></div>
            <div><span th:id="|votecount-${link.id}|" class="votecount" th:text="${link.getVoteCount()}">0</span></div>
            <div><a href="#" class="downvote" th:data-id="${link.id}" th:disabled="true"><i class="fas fa-arrow-down"></i></a></div>
        </div>
        <div class="col-11">
            <p class="title">
                <a class="title " th:href="${link.url}" th:text="${link.title}" target="_blank">
                </a>
                <span class="domain">(<a th:href="${link.url}" th:text="${link.getDomainName()}" target="_blank"> uncleglass.pl</a>)</span>
            </p>
            <p class="tagline ">submitted
                <time th:title="${link.getCreationDate()}" th:datetime="${link.getCreationDate()}" class="live-timestamp" th:text="${link.getPrettyTime()}">1 hour(s)</time> by
                <a class="author" th:text="${link.getUser().getAlias()}">created by</a>
                <span class="userattrs"></span>
            </p>
            <p><a th:href="${link.url}" th:text="${link.url}" target="_blank"></a></p>
            <p>
                <i class="far fa-comment-alt"></i>
                <a href="/" class="comments" th:text="|${link.getComments().size()} comments|"><i class="fas fa-comments"></i> 0 comments</a>
            </p>
        </div>
    </div>

<!--     link comments-->
    <div id="comments" class="comments">
        <div class="row header">
            <div class="col-1">&nbsp;</div>
            <div class="col-11 title" th:text="|all ${link.getComments().size()} comments|">
                all 21 comments
            </div>
        </div>
        <div class="row addcomment" sec:authorize="hasRole('ROLE_USER')">
            <div class="col-1">&nbsp;</div>
            <div class="col-11">
                <form id="frmAddComment" method="POST" th:action="@{/links/comments}" th:object="${comment}">
                    <input type="hidden" th:field="*{link}"/>
                    <div class="form-group">
                        <textarea class="form-control" id="comment" rows="3" th:field="*{body}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
            </div>
        </div>
<!--         single comment-->
        <div class="row comment" th:each="comment : ${link.getComments()}">
            <div class="col-1">&nbsp;</div>
            <div class="col-11">
                <span><a href="#" th:text="${comment.getCreatedBy()}"><i class="far fa-user"></i>added by </a></span>
                <span th:text="${comment.getPrettyTime()}"><i class="far fa-clock"></i> 4 hours ago</span>
                <p class="body" th:text="${comment.getBody()}">Comment</p>
            </div>
        </div>

    </div>

</div>

<br/><br/>
<script sec:authorize="isAuthenticated()">
    const allvotes = document.querySelectorAll(".upvote, .downvote");
    for(let i=0; i<allvotes.length; i++) {
        let className = allvotes[i].className;
        allvotes[i].addEventListener('click', function (event) {
            const direction = className === 'upvote' ? 1 : -1;
            const linkID = this.getAttribute("data-id");
            const voteSum = document.getElementById('votecount-' + linkID);
            const voteSumValue = voteSum.innerHTML;
            fetch(`https://little-reddit-uncleglass.herokuapp.com/vote/link/${linkID}/direction/${direction}/votecount/${voteSumValue}`)
                .then(response => response.json())
        .then(data => voteSum.innerHTML = data)
        .catch(err => console.error(err));
        });
    }
</script>

</body>
</html>
